@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  Colours: 39481c, 365158
*/

@layer base {
  :root {
    --background: 80 100% 95%;
    --foreground: 80 5% 0%;
    --card: 80 50% 90%;
    --card-foreground: 80 5% 10%;
    --popover: 80 100% 95%;
    --popover-foreground: 80 100% 0%;
    --primary: 80 44% 19.6%;
    --primary-foreground: 0 0% 100%;
    --secondary: 80 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 42 30% 85%;
    --muted-foreground: 80 5% 35%;
    --accent: 42 30% 80%;
    --accent-foreground: 80 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 80 5% 90%;
    --border: 80 30% 50%;
    --input: 80 30% 18%;
    --ring: 80 44% 19.6%;
    --radius: 0.5rem;
  }
  .dark,
  :root[class~='dark'] {
    --background: 80 50% 5%;
    --foreground: 80 5% 90%;
    --card: 80 50% 0%;
    --card-foreground: 80 5% 90%;
    --popover: 80 50% 5%;
    --popover-foreground: 80 5% 90%;
    --primary: 80 44% 19.6%;
    --primary-foreground: 0 0% 100%;
    --secondary: 80 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 42 30% 15%;
    --muted-foreground: 80 5% 60%;
    --accent: 42 30% 15%;
    --accent-foreground: 80 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 80 5% 90%;
    --border: 80 30% 18%;
    --input: 80 30% 18%;
    --ring: 80 44% 19.6%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  footer {
    /* horizonal line above footer */
    @apply border-t border-border mt-8;
  }
  a[href^='http']::after {
    content: ' ↗';
  }
}
